# jekyll
_site/
.jekyll-cache/

# jupyter
.cache/
.ipython/
.jupyter/
.local/
.ipynb_checkpoints/
.bash_history
.conda/
.npm/

# ipynb conversion
converted/

# data
data/

# sync
*.synced_history

# containers
*.running_containers

# macos
.DS_Store

# Keras
.keras
